[Unit]
Description=Dump température toutes les secondes sur répertoire partagé PC
Requires=smbd.service
After=smbd.service

[Service]
Type=simple
ExecStart=/bin/bash /etc/thermopi/thermopi
Restart=always

[Install]
WantedBy=multi-user.target
